{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1735.5,"scrollleft":0,"selection":{"start":{"row":118,"column":5},"end":{"row":118,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":107,"state":"start","mode":"ace/mode/ini"}},"timestamp":1506656825567,"hash":"c96644086bc5ff73f7353d1405c87e1c4a9f8bd1"}